:root {
    --light: white;
    --cool: hsl(6,63%,50%);
    --neon: #80669d;
} 
body{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin:0;
    min-height:100vh;
}

/* button container */
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width:400px;
    height:400px;
    gap:15px;
    padding:15px 15px;
    border-radius: 12px;
}

/* result of calculation section */
.result{
    width: 430px;
    height: 120px;
    border-radius: 20px;
    margin-bottom: 50px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* layout of buttons */
.calc-button{
    border-radius: 12px;
    font-size: 23px;
    cursor:pointer;
    font-weight: 700;
    padding:10%;
    border: none;
}
.reset-button , .result-button{
    grid-column:span 2;
}

/* top of calculator  */
.div-top{
    display: flex;
    justify-content: space-between;
    width:430px;
    font-size: 30px;
}
.toggle{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
}
/* switch  buttons */
.theme-switches {
    display: flex;
} 
.switch {
    border: 2px solid black;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    margin: 5px;
    cursor: pointer;
}
.switch:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}
#switch-1 {
    background-color: var(--light);
}
#switch-2 {
    background-color: var(--cool);
}
#switch-3 {
    background-color: var(--neon);
}



