body{
    background-color: hsl(222,26%,31%);
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin:0;
    min-height:100vh;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color:hsl(223,31%,20%);
    color: white;
    width:400px;
    height:400px;
    gap:15px;
    padding:15px 15px;
    border-radius: 12px;
}
.result{
    background-color:hsl(224,36%,15%);
    width: 430px;
    height: 120px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.calc-button{
    border-radius: 12px;
    font-size: 23px;
    cursor:pointer;
    font-weight: 700;
    padding:10%;
    border:2px solid #E6EBDC;
    box-shadow: 0px 4px gray;
}
.reset-button , .result-button{
    grid-column:span 2;
}
/* upr ka toggle  */
.div-top{
    display: flex;
    width:430px;
}
.logo{
    justify-self: flex-start;
    align-self: flex-end;
    color: white;
    font-size: 30px;
}
.toggle{
    /* justify-self:flex-end;
     */
     font-size: 40px;
}


